@charset "UTF-8";
@import "../../../style/var";
@import "../../../style/mixins/mixins";

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}

@mixin button-color($color, $background-color) {
  color: $color;
  background-color: $background-color;
  border-color: $background-color;

  &:hover,
  &:focus {
    background: mix($--color-white, $background-color, 20%);
    border-color: mix($--color-white, $background-color, 20%);
    color: $color;
  }

  &:active {
    background: mix($--color-black, $background-color, 10%);
    border-color: mix($--color-black, $background-color, 10%);
    color: $color;
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--color-white;
      background-color: mix($background-color, $--color-white);
      border-color: mix($background-color, $--color-white);
    }
  }
}

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--color-white;
  border: 1px solid $--border-color-base;
  color: $--color-text-regular;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  font-weight: $--font-weight-primary;
  user-select: none;
  & + & {
    margin-left: 10px;
  }

  @include button-size(12px, 20px, $--font-size-base, 4px);

  &:hover,
  &:focus {
    color: $--color-primary;
  }

  &:active {
    color: $--color-primary;
    border-color: $--color-primary;
    outline: none;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $--color-text-placeholder;
      cursor: not-allowed;
      background-image: none;
      background-color: $--color-white;
      border-color: $--border-color-lighter;
    }

    &.el-button--text {
      background-color: transparent;
    }

  }

  @include when(loading) {
    position: relative;
    pointer-events: none; // 删除一切鼠标事件 包括样式和点击事件
  }

  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }

  @include m(primary) {
    @include button-color($--color-white, $--color-primary);
  }
  @include m(success) {
    @include button-color($--color-white, $--color-success);
  }
  @include m(warning) {
    @include button-color($--color-white, $--color-warning);
  }
  @include m(danger) {
    @include button-color($--color-white, $--color-danger);
  }
  @include m(info) {
    @include button-color($--color-white, $--color-info);
  }

  @include m(medium) {
    @include button-size(10px, 20px, $--font-size-base, $--border-radius-base);
  }
  @include m(small) {
    @include button-size(9px, 15px, $--font-size-extra-small, #{$--border-radius-base - 1});
  }
  @include m(mini) {
    @include button-size(7px, 15px, $--font-size-extra-small, #{$--border-radius-base - 1});
  }

  @include m(text) {
    border-color: transparent;
    color: $--color-primary;
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: mix($--color-white, $--color-primary, 20%);
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: mix($--color-black, $--color-primary, 10%);
      border-color: transparent;
      background-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }

}


